html{
  background: gray;
  font-family: sans-serif
}

.outer{
  width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.Box{
  box-sizing: border-box;
  width: 500px;
  height: 50px;
  text-align: center;
  border: 2px white;
  border-style: solid;
  padding: 10px 0;
  margin: 2px 0;
}
